* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-image: url(https://www.freepik.com/free-vector/blue-curve-background_16282276.htm#fromView=keyword&page=1&position=35&uuid=64b7ef48-0319-4591-82b9-add20d3f52e6&query=Bg); */
}

#game-section {
    max-width: 1035px;
    margin: 25px auto;
    border-radius: 15px;
    border: 3px dashed white;
    padding: 25px 19px;
    /* height: 50vh; */
    /* background: url(https://img.freepik.com/free-vector/blue-copy-space-digital-background_23-2148821698.jpg?t=st=1741088254~exp=1741091854~hmac=861bf99b5e99d210ab7bbb706b0037337300035f4bd2b0e39ff276c2bd558cec&w=1380); */
    background: linear-gradient(135deg, #001f3f, #003060, #004080, #003060, #001f3f);
    background: linear-gradient(159deg, #001f3f 50%, #004080 50%, #0060c0 0%);
    /* background: linear-gradient(320deg, rgb(0, 21, 103) 55%, hsla(204, 95%, 77%, 1) 100%); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    /* align-items: center; */
    /* background-color: aquamarine; */
}

#upper-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.player-box {
    /* max-width: 25%; */
    padding: 10px 15px;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.652);
    /* border: 2px solid rgb(0, 6, 114); */
}

@keyframes blinkingText {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }

}

.active-player {
    background-color: rgb(32, 181, 255);
    ;
    animation: blinkingText .4s infinite;
}


.player-no {
    text-transform: uppercase;
    font-weight: 550;
    /* text-decoration: underline; */

}

.player-name {
    background: none;
    font-size: 3rem;
    font-weight: bold;
    border: none;
    max-width: 200px;
    margin: 0 auto;
    /* width: 100%; */
    text-align: center;
    overflow: scroll;
    text-transform: uppercase;
    cursor: pointer;
}

.player-name:focus-visible {
    user-select: all;
    background: none;
    outline: none;
    border-bottom: 1px dashed rgb(0, 0, 66);
}

.player-name:disabled{
    color:black;
    cursor: not-allowed;
}

.saved-score {
    background-color: rgba(0, 0, 0, 0.586);
    color: aliceblue;
    padding: 3px 5px;
    border-radius: 5px;
    font-weight: 600;
}



#roll-curScore-box {
    /* width: 50%; */
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 15px;
    padding: 15px 25px;
}

#cur-score-box {
    background-color: whitesmoke;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 600;
    white-space: nowrap;
}





/* ------------------dice---------------- */
#dice {
    /* max-width: 250px; */
    min-width: 150px;
    /* max-height: 250px; */
    min-height: 150px;
    /* max-height: 20; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid whitesmoke;
    border-radius: 17px;
    transition: transform 2s ease-in-out;
    background: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52393.jpg?t=st=1741111607~exp=1741115207~hmac=01455a833f8bc89b1d7b4995e4aa8fc82789641d7a0d417ba6f8d0d2a158807f&w=1800');
    background: linear-gradient(155deg, #000a13, #0056ac);
    background-size: cover;
    margin-bottom: 20px;

}




.dice-row {
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;

}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    visibility: hidden;

}




/* ----------------------------------btns-------------------------------------
 */



#bottom-container {
    display: flex;
    /* min-width: 500px; */
    /* max-width: 700px; */
    justify-content: space-around;
    margin: 25px auto;
    column-gap: 25px;

    /* border: 1px solid; */
}

.btn-game {
    padding: 12px 25px;
    background: none;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 0, 83);
    border-radius: 15px;
    cursor: pointer;
    transition: transform .3s ease-out;
    border: none;
}

.btn-game:hover {
    transform: scale(1.03);
    /* transform: translateY(-3px); */
    box-shadow: .5px 2px 3px rgba(255, 255, 255, .3);
    box-shadow: .5px 2px 3px rgba(0, 0, 0, 1);
}


/* ------------------------target Value----------------------------------- */
#target-box {
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.534);
    color: aliceblue;
    padding: 2px 9px;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
}

#target {
    background: none;
    /* background-color: inherit; */
    border: none;
    width: 40px;
    color: aliceblue;
    ;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    font-size: medium;
}

#target:focus {
    outline: none;
    border: none;
}

#target:disabled{
    cursor: not-allowed;
}




/* -----------------------------------winner-msg------------------------------ */

#winner-msg {
    width: 100%;
    margin: 25px auto;
    font-size: 3rem;
    color: aliceblue;
    font-weight: 600;
    ;
    /* background-color: antiquewhite; */
    text-align: center;
}






/* ------------------------------------------------media-queries---------------------------------- */
@media (max-width:1040px) {
    #game-section {
        margin: 25px 15px;
    }
}




@media (max-width:796px) {
    #game-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        margin: 10px;
    }


    #upper-container {
        flex-direction: column;
        justify-content: flex-start;
    }


    .player-box {
        transform: scale(0.7);
    }

    .saved-score {
        background-color: rgba(0, 0, 0, 0.586);
        color: aliceblue;
        padding: 3px 5px;
        border-radius: 5px;
        font-weight: 600;
    }

    #dice {
        min-width: 100px;
        min-height: 100px;
    }

    #cur-score-box {
        transform: scale(.9);
    }






    #bottom-container {
        flex-direction: column-reverse;
        /* border: 5px solid green; */
        /* max-width: 300px; */
        row-gap: 30px;
        justify-content: space-between;
        max-height: 300px;
        /* margin-right: 15px; */
    }

    .btn-game {
        width: 100%;
        padding: 10px 10px;
        transform: scale(0.9);
    }

    .btn-game:hover {
        transform: scale(.9);
    }

    #target-box{
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}

@media (max-width:385px) {

    /* #upper-container {
        flex-direction: column;
        justify-content: flex-start;
    } */


    .player-box {
        transform: scale(0.7);
    }

/*  */
    #dice {
        min-width: 80px;
        min-height: 80px;
    }

    #cur-score-box {
        transform: scale(.8);
    }




    #bottom-container {
        flex-direction: column-reverse;
        row-gap: 30px;
        justify-content: space-between;
        max-height: 300px;
    }

    .btn-game {
        width: 100%;
        padding: 10px 10px;
        transform: scale(0.9);
    }

    .btn-game:hover {
        transform: scale(.9);
    }

    #target-box{
        transform: scale(0.8);
        right: 2px;
        /* bottom: 2px; */
    }


}